html {
  canvas {
    width: 100%;
    height: 70vh;
  }
}

html {
  background: #f7f0e1;

  .display {
    font-family: eurostile-extended, sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 0.8;
  }

  .mono,
  code,
  kbd,
  pre,
  a,
  samp {
    font-family: attribute-mono;
    font-weight: 300;
    font-style: normal;
  }

  a {
    text-decoration: underline;
  }

  .leading-wicked {
    line-height: 0.8 !important;
  }

  .copy {
    font-family: goudy-old-style, serif;
    font-weight: 400;
    font-style: normal;

    strong,
    .strong {
      font-weight: 700;
    }

    em,
    .em {
      font-style: italic;
    }
  }

  .text-white {
    color: #f7f0e1 !important;
  }
}

.markdown {
  h1 {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }
  h2 {
    padding-top: 2.5rem;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }
  h1,
  h2 {
    margin-bottom: 0.4rem;
  }
  p,
  ul,
  pre,
  li {
    margin-bottom: 0.8rem;
  }
  pre {
    margin: 0.8rem -0.8rem;
    padding: 0.4rem 0.8rem;
    background-color: rgba(30, 41, 59, 0.1);
    font-size: 1rem;
  }
  ul {
    margin-left: 2.4rem;
    list-style-type: disc;
    list-style-position: outside;
  }
}

#piano {
  position: relative;
  width: 100%;
  height: 30vh;

  --key-width: calc(100% / 52);
  --half-key-width: calc(var(--key-width) * 0.5);
  --negative-quarter-key-width: calc(var(--key-width) * -0.25);

  --key-height: 100%;
  --half-key-height: calc(var(--key-height) * 0.5);

  .button {
    position: absolute;
    top: 0;
    transition-property: background-color, border, left, height, width;
    transition-duration: 0;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
  }

  .key {
    transition: opacity 1s;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    display: inline-block;
    box-sizing: border-box;
  }

  .key.white {
    background-color: white;
    z-index: -1;
    width: var(--key-width);
    height: var(--key-height);
  }

  .key.black {
    vertical-align: top;
    background-color: black;
    position: relative;
    width: var(--half-key-width);
    height: var(--half-key-height);
    margin-right: var(--negative-quarter-key-width);
  }

  .key.C,
  .key.D,
  .key.F,
  .key.G,
  .key.A {
    margin-right: var(--negative-quarter-key-width);
  }
}
